<div class="form" id="login-wrapper">

  <div id="login-form">
    <form id="login" action="/sessions" method="post">
      <input type="text" name="username" autocomplete="username" placeholder="username" autofocus="autofocus"><br>
      <input type="password" name="password" autocomplete="username" placeholder="password"><br>
      <input type="submit" value="Log in">
    </form>
  </div>

</div>
