<div class="login-form">
  <form action="/sessions" method="post">
    <input type="text" name="username" autocomplete="username" placeholder="username"><br>
    <input type="password" name="password" autocomplete="username" placeholder="password"><br>
    <input type="submit" value="Log in">
  </form>

</div>
