<div>
  <form action="/props" method="post">
    <h3>Prop Title</h3>
    <input type="text" name="title" placeholder="Prop Title"><br>
    <h3>Prop Description</h3>
    <input type="textarea" name="description" placeholder="Description"><br>
    <h3>Prop Odds</h3>
    <input type="text" name="odds" placeholder="Odds (decimal)"><br>
    <h3>Bettor Risk:</h3>
    <input type="text" name="risk" placeholder="Risk"><br>
    <input type="submit" value="Create Prop">
  </form>

</div>
