body {
    background-color: #53a5dd;
}

#site-welcome {
  display: inline;
  text-align: center;


}
.nav-bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: auto;
    background-color: #333;
}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: #111;
}

.dropdown {
    float: right;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.container {
  display: flex;
  flex-flow: row wrap;

}
#props-page-wrapper {
    margin-top: 50px;
    width: 1105px;
    height: auto;
    border: 5px solid black;
    overflow: auto;
}

.prop-attr {
  font-size: 14px;
}

.btn-wrap {
  background-color: black;
}

.index-btn {
  margin: 2px;
  display: inline-block;
}

.index-btn a{
  text-decoration: none;
  color: black;
}

#edit-btn {
  padding-left: 153px;
}

#odds {
  display: inline;
}

.index-prop {
  display: inline-block;
  padding: 5px;
  margin: 5px;
  height: 150px;
  width: 250px;
  float: left;
  border: 3px solid red;
}

.show-prop {
  display: inline-block;
  padding: 5px;
  margin: 5px;
  height: 150px;
  width: 250px;
  float: left;
  border: 5px dotted black;
}




.error-messages {
  width: auto;
  margin: 200px;
  padding: 5px;
  background-color: black;
  color: red;
  font-weight: 700;
  }

.topbar {
    background-color: white;
    border: 5px solid black;
    text-align: right;
}

span#login,
span#signup {
    float: left;
    margin: 10px;
    border: 5px solid white;
    background-color: rgba(0, 0, 0, 1);
    padding: 10px 25px;
    border-radius: 10px;
    height: auto;
    width: 85px;
    text-align: center;
    font-size: 1em;
    font-weight: 600;
    color: rgb(255,255,255);
}

p#logout {
  float: right;
  margin-right: 5px;
  border: 2px solid white;
  background-color: rgba(0, 0, 0, 1);
  padding: 10px 25px;
  border-radius: 17.5px;
  height: auto;
  width: 85px;
  text-align: center;
  font-size: 1em;
  font-weight: 600;
  color: rgb(255,255,255);
}
