body {
  background-color: green;
}

.error-messages {
  color: red;
  font-weight: 700;
  }

#nav-bar {
  background-color: white;
}

p#login,
p#signup {
    float: left;
    margin-right: 5px;
    border: 2px solid white;
    background-color: rgba(255,255,255,0.1);
    padding: 10px 25px;
    border-radius: 17.5px;
    height: auto;
    width: 85px;
    text-align: center;
    font-size: 1em;
    font-weight: 600;
    color: rgb(255,255,255);
}

p#logout {
  float: right;
  margin-right: 5px;
  border: 2px solid white;
  background-color: rgba(255,255,255,0.1);
  padding: 10px 25px;
  border-radius: 17.5px;
  height: auto;
  width: 85px;
  text-align: center;
  font-size: 1em;
  font-weight: 600;
  color: rgb(255,255,255);



}
