<div style="padding: 50px;">
  <form action="/users" method="post">
    <h2>Email:</h2>
    <input type="text" name="email" placeholder="email"><br>

    <h2>Username:</h2>
    <input type="text" name="username" placeholder="username"><br>

    <h2>Password:</h2>
    <input type="text" name="password" placeholder="password"><br>
    
    <input type="submit" name="submit" value="Create User">
  </form>
</div>
