<div class="signup">

  <form action="/registrations/users" method="post">
    <input type="text" name="email" placeholder="email"><br>

    <input type="text" name="username" placeholder="username"><br>

    <input type="text" name="password" placeholder="password"><br>

    <input type="submit" value="Create User">
  </form>

</div>
