<div class="betting-slips-wrapper">
  <div class="betting-slip">
    <form class="betting-form" action="/betting-slips" method="post">
      <h3>Betting Slip Name:</h3>
      <input type="text" name="name" placeholder="Title..."><br>
      <h3>Slip Description:</h3>
      <textarea name="description" placeholder="Description..."></textarea><br><hr>
      <input type="submit" name="" value="Create List">
    </form>

  </div>


</div>
