<div class="show-betting-slip-wrapper">
  <div class="show-slip">
    <h3><%= @slip.name %></h3>
    <p><%= @slip.description %></p>
  </div>

  <div class="delete-btn-wrapper">
    <div class="add-btn">
      <form action="/betting-slips/<%= @slip.id %>/add-picks" method="post">
        <input type="submit" value="Add Picks to List">
      </form>
    </div>
  </div>

  <div class="delete-btn">
    <form class="delete-slip-btn" action="/betting-slips/<%= @slip.id %>/delete" method="post">
      <input type="hidden" id="hidden" name="_method" value="delete">
      <input type="submit" value="Delete Slip">
    </form>
  </div>
</div>
