<div class="error-messages">
  <h3>The following errors have occurred with your registration:</h3>
  <ul>
    <% @user.errors.each do |key, error| %>
      <% unless key == :password_digest %>
        <li><div><%= "Your #{key.to_s} #{error}." %></div></li>
      <% end %>
    <% end %>
  </ul>

  <form action="/registrations/signup" method="get">
    <input type="submit" value="Try Again">
  </form>
</div>
