<div class="error-messages">
  <h3>The following errors have occurred with your registration:</h3>
  <ul>
    <% @user.errors.each do |key, error| %>
      <% unless key == :password_digest %>
        <div><%= "Your #{key.to_s} #{error}." %></div>
      <% end %>
    <% end %>

  </ul>
</div>
