<div class="container">
  <div class="page-banner">
    <h1>Welcome to Gambol. We are your one-stop shop for all your sports bet tracking needs!</h1>
  </div>
  <div class="">
    <a href="/registrations/signup"><p id='signup'>
      Sign up
    </p></a>
    <a href="/registrations/signup"><p id='login'>
      Login
    </p></a>
  </div>
</div>
