<div class="container">
  <div class="page-banner">
    <h1>Welcome to Gambol. We are your one-stop shop for all your sports bet tracking needs!</h1>
  </div>
  <div>
    <a href="/signup">Sign Up</a>
  </div>
  <div>
    <a href="/login">Login</a>
  </div>
</div>
