<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />

  <title>GambolSinatraProject</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="stylesheet" href="/stylesheets/main.css" />
</head>

<body>
  <div class="page-wrapper">
    <div class="nav-bar">
      <ul>
        <li><a href="/users/dashboard">Dashboard</li></a>
        <li><a href="/users/betting_lists">My Betting Lists</li></a>
        <li><a href="/props">Sports Props</li></a>
      </ul>
    </div>

    <div>
      <%if Helpers.is_logged_in?(session) %>
        <a href="/logout"><p id='logout'>Logout</p></a>
      <% else %>
        <a href="/registrations/signup"><span id='signup'>Sign up</span></a>
        <a href="/registrations/login"><span id='login'>Login</span></a>
      <% end %>
    </div>

    <div class="container">

      <%= yield %>

    </div>


  </div>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>

  </div>
</body>
