<div class="errors-container">
  <div class="prop-errors" >
    <h3>
      The resource you requested could not be created or found. Please check that all fields are filled and try again.
    </h3>
  </div>
</div>
